.Rproj.user
.Rhistory
.RData
.Ruserdata
.here
/papers_writeups/
/Code/rsconnect/
/Code/www/striped_bass_4-removebg.png
/Code/www/BFT_range.png
/Code/www/Lobster_range.png
/Code/www/Stripedbass_range.png
